.list-user-container {



    .user-item {
        width: 400px;
        margin: 0 auto;
        border: 1px solid;

        .user-content {
            padding: 8px;
            border-bottom: 1px solid;
        }
    }

}

